.color.turquoise {
  background: #1ABC9C;
}
.color.green-sea {
  background: #16A085;
}
.color.emerland {
  background: #2ECC71;
}
.color.nephritis {
  background: #27AE60;
}
.color.peter-river {
  background: #3498DB;
}
.color.belize-hole {
  background: #2980B9;
}
.color.amethyst {
  background: #9B59B6;
}
.color.wisteria {
  background: #8E44AD;
}
.color.wet-asphalt {
  background: #34495E;
}
.color.midnight-blue {
  background: #2C3E50;
}
.color.sun-flower {
  background: #F1C40F;
}
.color.orange {
  background: #F39C12;
}
.color.carrot {
  background: #E67E22;
}
.color.pumpkin {
  background: #D35400;
}
.color.alizarin {
  background: #E74C3C;
}
.color.pomegranate {
  background: #C0392B;
}
.color.clouds {
  background: #ECF0F1;
  color: #bdc3c7;
}
.color.silver {
  background: #BDC3C7;
}
.color.concrete {
  background: #95A5A6;
}
.color.asbestos {
  background: #7F8C8D;
}

#home {
	position: absolute;
	width: 100%;
	height: 100%;
	min-height: 100%;
	z-index: -1;
	display: block;
	text-align: center;
	vertical-align: middle;

    box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

	border: 10px solid #ECF0F1;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
}

#homeinner {
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	width: 50%;
}

#homeinner img {
	width: 55%;
	z-index: 1;
	vertical-align: middle;	
}

.menu_links {
	margin-right: 2%;
	margin-left: 2%;
	font-size: 1.6em;
	font-family: 'Oswald', sans-serif;
	width: 20%;
	z-index: 10;
}

#footer {
	position: fixed;
	width: 100%;
	bottom: 20px;
	left: 0px;
	z-index: 50; /* It should not overlap the button */
	height: 2.0em;
}

a {
	text-decoration: none;
	color: #ECF0F1;
	text-shadow: none;

  	transition: color 0.5s ease;
	transition: text-shadow 0.5s ease;
	-webkit-transition: color 0.5s ease;
	-webkit-transition: text-shadow 0.5s ease;
	-moz-transition: color 0.5s ease;
	-moz-transition: text-shadow 0.5s ease;
	-o-transition: color 0.5s ease;
	-o-transition: text-shadow 0.5s ease;
	-ms-transition: color 0.5s ease;
	-ms-transition: text-shadow 0.5s ease;
}

a:hover {
	color: #FF3300;
	text-shadow: #010101 0px 0px 2px;
}

.growing-button {
	position: fixed;
	z-index: 100;
	font-size: 1.6em;
	font-family: 'Oswald', sans-serif;

	background: #ECF0F1;
	border: none;
	height: 1.7em;
	width: 160px;
	margin: 0px;
	padding: 2px;

	/*Transition*/
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}

/* bottom left */
#button-bl {
	bottom: 0px;
	left: 0px;
	border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	
}

/* top right */
#button-tr {
	top: 0px;
	right: 0px;
	border-bottom-left-radius: 10px;
	-webkit-bottom-left-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	
}

a.button-link {
	text-decoration: none;
	color: #2980B9;
	text-shadow: none;

  	transition: color 0.5s ease;
	transition: text-shadow 0.5s ease;
	-webkit-transition: color 0.5s ease;
	-webkit-transition: text-shadow 0.5s ease;
	-moz-transition: color 0.5s ease;
	-moz-transition: text-shadow 0.5s ease;
	-o-transition: color 0.5s ease;
	-o-transition: text-shadow 0.5s ease;
	-ms-transition: color 0.5s ease;
	-ms-transition: text-shadow 0.5s ease;
}

a.button-link:hover {
	color: #FF3300;
	text-shadow: #010101 0px 0px 1px;
}

.outer {
	margin: 0 auto;
	width: 70%;
}

.inner {
	vertical-align: middle;
	z-index: -10;
	margin: 0 auto;
	background: #3498DB;
	font-size: 1.2em;
	font-family: 'Fenix', serif;
}
