---
layout: engene 
---
<!DOCTYPE html>
<html>

<head>
	<meta name="description" content="enGene statistical consulting" />
	<meta name="keywords" content="statistics, consulting, bioinformatics">
	<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/main.css"/>
	<link rel="icon" type="image/png" href="images/favicon.ico">
	<title>enGene Statistics</title>
</head>

  <body>
    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
			<p> inner header </p>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">

    {{ content }}

      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
		  <p> inner footer </p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

  </body>
</html>
