---
layout: engene 
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="description" content="enGene statistical consulting" />
	<meta name="keywords" content="statistics, consulting, bioinformatics">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../css/main.css"/>
	<link rel="icon" type="image/png" href="images/favicon.ico">
	<title>enGene Statistics</title>
</head>

<body>

<div id="fixed-left">
	<img src="../images/circled_arrow_left_white.svg" alt="left"/>
</div>
	
<div class="twocol">

	{{ content }}

</div>

<div id="fixed-right">
	<img src="../images/circled_arrow_right_white.svg" alt="left"/>
</div>

</body>

</html>
